@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root
{
    --cor-background: #f0f2f5;
    --cor-secundaria: #ffffff;
    --cor-bordas: #f7f8f9;
    --shadow: 2px 2px 5px #CCC;
}

html, body
{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-background);
}

.container
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "barra-nav-top barra-nav-top barra-nav-top"
        "area-pesquisa area-pesquisa area-login"
        "area-novidades area-novidades .";
}

.barra-nav-top
{
    border: 1px solid --cor-bordas;
    background-color: var(--cor-secundaria);
    display: grid;
    grid-area: barra-nav-top;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "logo . area-links";
    padding: 20px;
    box-shadow: var(--shadow);
}

.area-links
{
    display: grid;
    justify-content: center;
    grid-area: area-links;
    margin-left: -50px;
}

.logo
{
    display: grid;
    grid-area: logo;
    padding: 15px;
    margin-left: 50px;
    vertical-align: middle;
}

.logo > img
{
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.area-links > ul, li
{
    text-decoration: none;
    list-style-type: none;
    display: inline-flex;
    margin-left: 20px;
    justify-content: space-around;
    margin-top: 19px;
    vertical-align: middle;
}

.area-pesquisa
{
    border: var(--cor-bordas);
    background-color: var(--cor-secundaria);
    grid-area: area-pesquisa;
    padding: 20px;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    height: 200px;
}

.titulo-principal-pesquisa
{
    font-size: 30px;
}

.input-pesquisa
{
    width: 80%;
    padding: 10px;
    margin-top: 5px;
}

.login
{
    background-color: var(--cor-secundaria);
    box-shadow: var(--shadow);
    margin-top: 30px;
    max-width: 400px;
    padding: 20px;
    margin-left: -10px;
    border-radius: 10px;
    margin-right: 20px;
}

.formulario-login
{
    /*border: 1px solid var(--cor-bordas);*/
    background-color: var(--cor-secundaria);
    padding: 10px;
    max-width: 400px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
}

.formulario-login > form > input
{
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 250px;
    border:1px solid #CCC;
}

.botao-pesquisa
{
    padding: 12px;
    border-radius: 5px;
    border:1px solid #CCC;
}

.area-novidades
{
    display: grid;
    grid-template-areas: "objeto";
    grid-area: area-novidades;
    margin-left: 50px;
    padding: 20px;
    margin-top: -50px;
}

ul, li > a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.objeto
{
    grid-template: objeto;
    display: grid;
    background-color: var(--cor-secundaria);
    border: 1px solid #CCC;
    grid-template-columns: 120px 1fr 1fr;
    grid-template-areas: 
        "img_objeto titulo_objeto ."
        "img_objeto descricao_objeto descricao_objeto"
        "img_objeto info_objeto info_objeto";
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    margin-left: -15px;
}

.titulo_objeto
{
    grid-area: titulo_objeto;
    /*border: 1px solid #CCC;*/
    margin-left: 10px;
}

.titulo_objeto > span
{
    font-size: 20px;
    font-weight: bold;
}

.descricao_objeto
{
    grid-area: descricao_objeto;
    /*border: 1px solid #CCC;*/
    margin-left: 10px;
    text-align: justify;
}

.descricao_objeto > span
{
    font-size: 15px;
}

.img_objeto
{
    grid-area: img_objeto;
    border: 1px solid #CCC;
    width: 120px;
    height: 120px;
}

.info_objeto
{
    grid-area: info_objeto;
    margin-left: 10px;
    margin-top: 30px;
}

.info_objeto > span
{
    font-size: 11px;
}

.info_objeto > span > a
{
    text-decoration: none;
    font-weight: bold;
    color: black;
}